body {
    background-color: white;
    color: black;
} 

#cabecalho{
    
}

#cabecalho ul {
    display: flex;
    justify-content: space-evenly;
}

#cabecalho ul a {
    padding: 12px;
    font-size: 22px;
    border: none;
    text-decoration: none;
}

#cabecalho ul a li {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}

.text {
    width: 350px;
}

#content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

#filmes{
    width: 100%;
}

#filmes h1{
    text-align: center;
    font-size: 40px;
}

#final {

}
    
.c-txt {
    width: 100%;
    margin-bottom: 20px ;
    display: flex;
    justify-content: space-around;
}

.c-txt h2 {
    padding: 5px;
    text-align: center;
    width: 120px;
    height: 40px;
    background-color: #430C48;
    color: white;
}