* {
    margin: 0;
    padding: 0; 

}

.logo h1 {
    text-align: center;
}

.menu {

}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu ul li {
    list-style: none;
}


#content h1 {
    text-align: center;
}

#content1 {
    display: flex;
    justify-content: space-around;

    margin-bottom: 100px;
}

#content2 {

    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

#footer {
    height: 100%;
    background-color: #430C48;
}
